<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD1ktgTy8tIUtArUAlu2ZNCkYElGnJxTR0</string>
	<key>GCM_SENDER_ID</key>
	<string>160362393641</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.complete.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fir-flutter-codelab-aec96</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-flutter-codelab-aec96.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:160362393641:ios:1e93bc130f5135fb506c38</string>
</dict>
</plist>